body {
	background-color: #d8d8d8;
	width: 100%;
	margin: 0;
	padding: 0;
}
header {
	height: 170px;
	background-color: #444444;
	margin: 0;
	width: 100%;
}
.wrapper {
	width: 70%;
	height: 770px;
	background-color: #efefef;
	margin: 0 auto;
}
footer {
	height: 80px;
	background-color: #222222;
	width: 70%;
	margin: 0 auto;
}